#container {
  max-width: 960px;
  margin: auto;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

#survey-form {
  text-align: center;
  display: grid;
  grid-template-areas:
    "name email"
    "number number"
    "select select"
    "radio radio"
    "check check"
    "comment comment"
    "submit submit";
}

#name-container {
  grid-area: name;
}

#email-container {
  grid-area: email;
}

#number-container {
  grid-area: number;
}

#select-container {
  grid-area: select;
}

#radio-container {
  grid-area: radio;
}

#check-container {
  grid-area: check;
} 

#comment-container {
  grid-area: comment;
} 

#submit-container {
  grid-area: submit;
}
